.page_container {
    width: 100%;
    height: 100%;
    background-color: #465AAF;
}

.game_ttl {

    h1 {
        color: tomato;
        text-align: center;
        font-size: 5rem;
    }
}

.main_container {
    width: 100%;
    // background: blue;
    // z-index: 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding: 0 50px;

        .return_btn {
            display: inline-block;
            vertical-align: middle;
            color: #333;
            background: #000;
            line-height: 1;
            position: relative;
            width: 1rem;
            height: 1rem;
            transform: translateX(25%) rotate(-135deg);
            // z-index: 10;
        }

        .return_btn::before,
        .return_btn::after {
            content: '';
            position: absolute;
            background: currentColor;
            border-radius: 0.1em;
        }

        .return_btn::before {
            content: '';
            position: absolute;
            background: currentColor;
            border-radius: 0.1em;
        }

        .return_btn::after {
            content: '';
            position: absolute;
            background: currentColor;
            border-radius: 0.1em;
        }

        .best_score {
            color: #FFBB05;
            font-size: 8rem;
        }
    }

    .current_score {

        p {
            color: #fff;
            font-size: 6rem;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }

        // .heart {
        //     width: 100px;
        //     /* 正方形を作る */
        //     height: 100px;
        //     /* 正方形を作る */
        //     position: relative;
        //     /* 基準位置とする */
        // }

        // .heart::before,
        // .heart::after {
        //     content: "";
        //     /* 疑似要素に必須 */
        //     width: 50%;
        //     /* ハートの丸い部分の大きさにかかわる */
        //     height: 80%;
        //     /* ハートの高さにかかわる */
        //     background: #E0548E;
        //     /* ハートの色 */
        //     border-radius: 25px 25px 0 0;
        //     /* ハートの半円を生成 */
        //     display: block;
        //     /* ブロック要素にする */
        //     position: absolute;
        //     /* 相対位置に指定 */
        // }

        // .heart::before {
        //     transform: rotate(-45deg);
        //     /* 左に回転 */
        //     left: 14%;
        //     /* 左からの位置を指定 */
        // }

        // .heart::after {
        //     transform: rotate(45deg);
        //     /* 右に回転 */
        //     right: 14%;
        //     /* 右からの位置を指定 */
        // }
    }

    .block_box_wrap {
        width: 480px;
        height: 480px;
        background-color: #242C53;
        margin: 0 auto;

        .block_box {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}